# Project
*.vs
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
.wpix
Temp/**
Bin/**
Lib/**

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.cso

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.pdb
*.out
*.app

# Whitelist
!Dependencies/**
!ProjectCreator.exe
!premake5.exe
!Tools/**